/*WEB FONTS RELATED*/
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-300.woff2") format("woff2"),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-regular.woff")
      format("woff");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-500.woff2") format("woff2"),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-600.woff2") format("woff2"),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-700.woff2") format("woff2"),
    url("./assets/fonts/comfortaa-v37-latin_cyrillic-700.woff") format("woff");
}

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 28px;
  line-height: 36px;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}
.btn {
  background-color: rgba(177, 49, 221, 1);
  padding: 9px 17px;
  font-weight: 600;
  border-radius: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgba(177, 49, 221, 0.8);
}
